:root {
    --g1: rgb(216, 146, 15);
    --g2: rgb(21, 233, 222);
    --g3: rgb(255, 75, 75);
    --g4: rgb(149, 255, 149);
    --g5: rgb(255, 158, 218);
  }
  
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }
  
  body {
    animation: background-pan 30s linear infinite;
    background: linear-gradient(
      to right,
      var(--g1),
      var(--g2),
      var(--g4),
      var(--g5),
      var(--g1)
    );
    background-size: 200%;
    height: 100vh;
    overflow-x: hidden;
    margin: 0px;
  }
  

  .centered {
    left: 52%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  

  
  #title {
    color: rgb(0, 0, 0);
    font-family: "Rubik", sans-serif;
    font-size: 5.5vw;
    margin: 0px;
    pointer-events: none;
    transition: opacity 1200ms ease;
    width: 50vw;
    z-index: 3;
  }
  @keyframes color-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }


  
  #title > .fancy {
    color: var(--g3);
    font-family: 'Dancing Script', sans-serif;    
    font-size: 1.5em;
    line-height: 0.9em;
  }
  @keyframes animate{
    0%{
        background-position: 0 100%;
    }
    50%{
      background-position: 100% 0;
    }
    100%{
      background-position: 0 100%;
    }
  }
  #icon {
    color: rgba(255, 255, 255, 0.15);
    font-size: 80vmin;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1200ms ease;
    z-index: 1;
  }

.BG{
    margin:10px;
    background-color: #020202;
    height:75vh;

}

.centeredBUT {
  left: 50%;
  position: absolute;
  top: 75%;
  transform: translate(-85%, -50%);
}

.centeredBUT > .underbutton {
  position: absolute;
  transform: translate(7.5%, 30%);
}

#keytitle {
  color: rgb(0, 0, 0);
  font-family: "Raleway", sans-serif;
  font-size: 5.5vw;
  margin: 0px;
  pointer-events: none;
  transition: opacity 1200ms ease;
  width: 50vw;
  z-index: 10;
  position: absolute;
  text-align: center;
  width: 100vw;
}